/**
 * The "Clients" display with current players and voting results
 */

#clients {
  // BACK = FACE DOWN (HIDING VOTE)
  // FRONT = FACE UP (SHOWING VOTE)

  .client {
    overflow: hidden;
    @include border-radius(10px);
    @include box-shadow($dark 0px 0px 10px);

    .front, .back {
      overflow: hidden;
      border: 4px solid darken($bright, 5%);
      @include border-radius(10px);
      height: 100%;
    }

    .back { // FACE DOWN
      display: block;

      background:
        url('../gfx/card_back_bg_greenplaid_small.png') center center repeat,
        $bright;

      .nickname {
        @include text-shadow($dark 1px 1px 0);
      }
    }

    .front { // FACE UP (SHOWING VOTE)
      color: $dark;
      background: $bright;
      @include text-shadow(none);

      display: none;
    }

    &.voted {
      .back .nickname { color: $orange; }
      .front .nickname { color: $red; }
    }

  }


  #votingResult.reveal & {
    background-image: none;

    .back { display: none; }
    .front { display: block; }
  }

  .nickname {
    text-transform: uppercase;
  }

  .vote-wrap {
    text-align: center;

    .vote {
      color: $red;
      @include stint;
      @include text-shadow($dark 1px 1px 0px);
    }
  }
  
  /* The "non-card" display, for narrow devices. Looks like a
   * vertically stacked scoreboard. */
  @include respond-to('handheld-only') {
    .client {
      width: auto;
      display: block;
      float: none;

      margin: 0.5em auto;

      .front, .back {
        padding: 0.25em;
      }
    }

    .nickname, .vote-wrap { display: block; }

    .nickname {
      float: left;
      width: 70%;
      text-align: left;

      font-size: 1.125em;
      letter-spacing: 2px;

      padding: 0.375em 0 0.375em 0.25em;
    }

    .vote-wrap {
      float: right;
      width: 25%;
      text-align: right;

      padding: 0.125em 0.25em 0 0;

      .vote {
        font-size: 1.75em;
      }
    }
  }

  /* Set up the flexbox or flexbox-approximate for larger screens */
  @include respond-to('narrow') {
    html.no-flexbox & {
      text-align: center;

      .client {
        display: inline-block;
        float: none;
        text-align: left;
      }
    }

    html.flexbox & {
      @include scrummyFlexbox;
    }
  }

  /* Build the card display styles and spacing */
  @include respond-to('narrow') {
    .client {
      height: 8em;
      width: 6em;
      margin: 0.5em;

      .front, .back {
        padding: 0.25em;
      }

      html.multiplebgs & .back {
        background:
          url('../gfx/spiral-card-white-shadow.png') center center no-repeat,
          url('../gfx/card_back_bg_greenplaid_small.png') center center repeat,
          $bright;
      }

      html.multiplebgs.svg & .back {
        background:
          url('../gfx/spiral-card-white-shadow.svg') center center no-repeat,
          url('../gfx/card_back_bg_greenplaid_small.png') center center repeat,
          $bright;
      }
    }

    .nickname {
      font-size: 0.875em;
      letter-spacing: 1px;

      .front, .back {
        padding: 0.25em 0.125em;
      }
    }

    .vote-wrap {
      min-height: 5.5em;

      .vote {
        padding: 0.375em 0;
        font-size: 2em;
      }
    }
  }

  @include respond-to('medium') {
    .client {
      height: 10em;
      width: 7em;
      margin: 0.5em;

      .front, .back {
        padding: 0.5em;
      }
    }

    .nickname {
      font-size: 1em;
      letter-spacing: 2px;

      padding: 0.25em 0.125em;
      margin-bottom: 0.125em;
    }

    .vote-wrap {
      min-height: 7.5em;

      .vote {
        padding: 0.375em 0;
        font-size: 3em;
      }
    }
  }

  @include respond-to('wide') {
    .client {
      height: 12em;
      width: 8em;
      margin: 0.5em;

      .front, .back {
        padding: 0.5em;
      }
    }

    .nickname {
      font-size: 1.125em;
      letter-spacing: 3px;

      padding: 0.25em 0.125em;
      margin-bottom: 0.25em;
    }

    .vote-wrap {
      min-height: 8.5em;

      .vote {
        padding: 0.25em 0;
        font-size: 4em;
      }
    }
  }
}