/**
 * The "Clients" display with current players and voting results
 */

#clients {

  .client {

    overflow: hidden;
    border: 4px solid darken($bright, 5%);
    @include border-radius(10px);

    background:
      url('../gfx/card_back_bg_greenplaid_small.png') center center repeat,
      $bright;

    @include box-shadow($dark 0px 0px 10px);

    &.voted {
      .nickname { color: $orange; }
      @include box-shadow($dark 0px 0px 15px);
    }

    .vote { display: none; }

    #votingResult.reveal & {
      background-image: none;
      .vote { display: block; }

      .nickname {
        color: $dark;
        @include text-shadow(none);
      }

      &.voted {
        .nickname { color: $red; }
      }
    }
  }

  .nickname {
    text-transform: uppercase;
    color: $light;

    @include text-shadow($dark 1px 1px 0);
  }

  .vote-wrap {
    text-align: center;

    .vote {
      color: $red;
      @include stint;
      @include text-shadow($dark 1px 1px 0px);
    }
  }
  
  /* The "non-card" display, for narrow devices. Looks like a
   * vertically stacked scoreboard. */
  @include respond-to('handheld-only') {
    .client {
      width: auto;
      display: block;
      float: none;

      padding: 0.25em;
      margin: 0.5em auto;
    }

    .nickname, .vote-wrap { display: block; }

    .nickname {
      float: left;
      width: 70%;
      text-align: left;

      font-size: 1.125em;
      letter-spacing: 2px;

      padding: 0.375em 0 0.375em 0.25em;
    }

    .vote-wrap {
      float: right;
      width: 25%;
      text-align: right;

      padding: 0.125em 0.25em 0 0;

      .vote {
        font-size: 1.75em;
      }
    }
  }

  /* Set up the flexbox or flexbox-approximate for larger screens */
  @include respond-to('narrow') {
    html.no-flexbox & {
      text-align: center;

      .client {
        display: inline-block;
        float: none;
        text-align: left;
      }
    }

    html.flexbox & {
      @include scrummyFlexbox;
    }
  }

  /* Build the card display styles and spacing */
  @include respond-to('narrow') {
    .client {
      width: 6em;

      padding: 0.25em;
      margin: 0.5em;

      html.multiplebgs & {
        background:
          url('../gfx/spiral-card-white-shadow.svg') center center no-repeat,
          url('../gfx/card_back_bg_greenplaid_small.png') center center repeat,
          $bright;
      }
    }

    .nickname {
      font-size: 0.875em;
      letter-spacing: 1px;

      padding: 0.25em 0.125em;
    }

    .vote-wrap {
      min-height: 5.5em;

      .vote {
        padding: 0.375em 0;
        font-size: 2em;
      }
    }
  }

  @include respond-to('medium') {
    .client {
      width: 7em;

      padding: 0.5em;
      margin: 0.5em;
    }

    .nickname {
      font-size: 1em;
      letter-spacing: 2px;

      padding: 0.25em 0.125em;
      margin-bottom: 0.125em;
    }

    .vote-wrap {
      min-height: 7.5em;

      .vote {
        padding: 0.375em 0;
        font-size: 3em;
      }
    }
  }

  @include respond-to('wide') {
    .client {
      width: 8em;

      padding: 0.5em;
      margin: 0.5em;
    }

    .nickname {
      font-size: 1.125em;
      letter-spacing: 3px;

      padding: 0.25em 0.125em;
      margin-bottom: 0.25em;
    }

    .vote-wrap {
      min-height: 8.5em;

      .vote {
        padding: 0.25em 0;
        font-size: 4em;
      }
    }
  }
}