// Colors:
// Neutrals
$bright: #f2f2f2;
$light:  #E3DFE3;
$low:    #312928;
$dark:   #1F1A19;

// Accents
$orange: #FC5426;
$blue:   #0E536E;
$green:  #2B8045;
$red:    #D71414;

// Typefaces:
@mixin fjalla { font-family: 'Fjalla One', sans-serif;        font-weight: 400; }
@mixin stint  { font-family: 'Stint Ultra Expanded', cursive; font-weight: 400; }
@mixin osans  { font-family: 'Open Sans', sans-serif;         font-weight: 400; }

// HTML5 Boilerplate Normalize
@import "normalize";

// Helper styles with various mixins and extendables, set border-box
@import "helpers";

// Include Compass Helpers
@import "compass/css3";
@import "breakpoint";
@import "respond-to";

// Setup Breakpoints
$breakpoints:
  // 'handheld'   // Mobile-first: default IS handheld
  'handheld-only' (max-width    679px), // For styles 
  'narrow'        (min-width    680px),
  'medium'        (min-width    980px),
  'wide'          (min-width   1080px),
  'portrait'      (orientation portrait);


/* Set up basic colors and typefaces */
body {
  background: $green url('../gfx/table_bg_green.gif') center center repeat;
  color: $bright;
  @include fjalla;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  @include stint;
  color: $orange;
  text-align: center;
  line-height: 1.2;
}

a {
  color: $blue;
  text-decoration: none;
}

::-moz-selection, ::selection {
  background: $blue;
  color: $light;
  text-shadow: none;
}

/* Layout */
#logo {
  width: 96%;
  max-width: 1000px;

  margin: 0.75em auto;

  h1 {
    color: $light;
    @include text-shadow($dark 1px 1px 0);
    text-align: center;
    margin: 0; // We have a margin on the container
  }

  @include respond-to('narrow') {
    margin: 1em auto;
  }

  @include respond-to('wide') {
    margin: 2em auto;
  }
}

#container {
  @extend .clearfix;
  width: 96%;
  max-width: 1000px;

  margin: 0.25em auto;
  padding: 0.5em;

  border: 1px solid darken($low, 10%);
  @include border-radius(10px);
  @include box-shadow($dark 0px 0px 25px inset);
  background: $low url('../gfx/pit_bg_wood.jpg') center center repeat;

  @include respond-to('small') {
    margin: 0.5em auto;
    padding: 0.5em;
  }

  @include respond-to('medium') {
    margin: 0.75em auto;
    padding: 1em;
  }

  @include respond-to('wide') {
    margin: 1.5em auto 1em auto;
    padding: 1em;
  }

  a {
    color: $green;
  }
}

section {
  @extend .clearfix;
  padding: 0.25em;
  border-top: 1px solid lighten($low, 10%);
  border-bottom: 1px solid darken($low, 10%);

  /* Hide outermost borders on these adjustment sections */
  &#top { border-top: 0; }
  &#bottom { border-bottom: 0; }
  &#top, &#bottom { padding: 0; }

  @include respond-to('narrow') {
    padding: 0.5em;
  }

  @include respond-to('medium') {
    padding: 0.75em;
  }

  @include respond-to('wide') {
    padding: 1em;
  }
}

input {
  background: $bright;
  &:hover { background: white; }

  color: $low;

  padding: 4px 8px;
  margin: 4px;
  border: 1px solid $light;
  @include border-radius(4px);

  @include fjalla;

  &[type="text"] {
    @include osans;
  }
}

/**
 * Shared Login and Voting Form Styles
 */
#loginActions, #votingActions {
  width: auto;
  max-width: 500px;

  text-align: center;

  padding: 0 4px;
  margin: 0.25em auto;

  border: 1px solid lighten($low, 8%);
  @include border-radius(10px);

  background: darken($low, 8%);
  @include box-shadow($dark 0px 0px 5px inset);

  input {
    margin: 6px 0;
  }

  input[type="button"], input[type="submit"] {
    color: $light;
    @include text-shadow( darken($blue, 25%) 1px 1px 0 );

    background: $blue;
    @include background-image( linear-gradient($blue, darken($blue, 10%)) );

    border: 1px solid darken($blue, 10%);

    &:hover, &.active {
      @include text-shadow( darken($orange, 50%) 1px 1px 0 );

      background: $orange;
      @include background-image( linear-gradient( darken($orange, 10%), darken($orange, 30%)) );

      border: 1px solid darken($orange, 40%);
    }
  }
}

/**
 * Login Form
 */
#loginActions {
  input[type="text"] {
    width: 47%;
    margin-right: 1%;
  }

  #btnSignIn {
    width: 24%;
    margin-right: 1%;
  }

  #btnObserve {
    width: 24%;
  }

}

/**
 * Voting Actions & Results Section
 */
#votingActions {
  input {
    width: 32%;
    margin-left: 1%;
    &#btnReveal { margin-left: 0; }
  }
}

/**
 * The shared game link box (inside the Voting actions box)
 */
#gameLink {
  display: none;

  width: 100%;
  margin-top: 3px;
  border-top: 1px solid lighten($low, 8%);
  padding-top: 3px;

  input {
    width: 99%;
    margin-left: 0;
  }
}

#readme {

  .text {
    font-size: 0.75em;
    @include osans;
  }

  p {
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    @include text-shadow( 1px 1px 0 darken($low, 15%) );

    @include column-break-inside(avoid);
  }

  strong {
    font-weight: normal;
    color: $orange;
  }

  em {
    font-style: normal;
    color: lighten($blue, 15%);
  }

  a {
    @include text-shadow( 1px 1px 0 darken($low, 30%) );
  }

  html.csscolumns & .text {
    @include respond-to('narrow') {
      font-size: 0.875em;

      @include columns(2);
      @include column-gap(2.5em);

      p {
        max-width: none;
        margin-top: 0;
      }
    }

    @include respond-to('medium') {
      font-size: 0.925em;
    }

    @include respond-to('wide') {
      font-size: 1em;
      @include columns(3);
      @include column-gap(2em);
    }
  }
}

@import 'clients', 'hand';

footer {
  width: 96%;
  max-width: 1000px;
  margin: 0.5em auto 1em auto;

  font-size: 0.625em;
  text-align: center;

  color: darken($green, 20%);
  font-family: Helvetica, Arial, sans-serif;
  

  a { color: darken($green, 35%); }

  @include respond-to('narrow') {
    font-size: 0.75em;
  }

  @include respond-to('medium') {
    font-size: 0.875em;
    @include text-shadow( 1px 1px 0 lighten($green, 10%) );
    @include fjalla;
  }

  @include respond-to('wide') {
    font-size: 1em;
  }
}